<h1>Carrito de compras</h1>
<ng-container *ngIf="cart && cart.cartItems.length > 0; then productsExists; else productsNotExists">
</ng-container>

<ng-template #productsExists>
    <div class="row">
        <div class="col-9">
            <div class="row" *ngFor="let cartItem of cart.cartItems">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-2">
                            <img [src]="cartItem.product.productImage" class="img-thumbnail" [alt]="cartItem.product.name">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title">{{cartItem.product.name}}</h5>
                                <div class="row">
                                    <div class="col">
                                        <span class="badge rounded-pill bg-success sombra mb-2">{{cartItem.product.category.name}}</span>
                                        <span class="text-danger ms-3">Precio: <strong>${{cartItem.product.currentPrice | number:'1.2-2'}}</strong></span>
                                    </div>
                                    <div class="col text-end">
                                        <span class="badge rounded-pill bg-primary sombra mb-2 ms-3">Cantidad: {{cartItem.quantity}}<button class="badge rounded-pill bg-warning ms-2 p-0 ps-1 pe-1" (click)="lessProduct(cartItem)"><i class="fas fa-minus text-dark"></i></button><button class="badge rounded-pill bg-warning ms-2 p-0 ps-1 pe-1" (click)="moreProduct(cartItem)"><i class="fas fa-plus text-dark"></i></button></span>

                                    </div>
                                </div>
                                <p class="card-text">{{cartItem.product.description | productName:200}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title ">Total de orden</h5>
                    <hr>
                    <h6 class="card-subtitle mb-2 text-muted ">{{'Subtotal (' + totalItems + ' items):'}} <strong class="fs-4">${{totalToOrder | number:'1.2-2'}}</strong></h6>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-warning w-100 fs-5" (click)="placeOrder()"><strong>Confirmar orden</strong></button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #productsNotExists>
    <h5>El carrito está vacío</h5>
</ng-template>