/// Global Variables
/// ---
// Neutral Colors
$neutral-color-white: #ffffff;
$neutral-color-100: #f4f4f4;
$neutral-color-200: #e4e4e4;
$neutral-color-300: #d3d3d3;
$neutral-color-400: #c5c5c5;
$neutral-color-500: #afafaf;
$neutral-color-600: #909090;
$neutral-color-700: #838383;
$neutral-color-800: #595959;
$neutral-color-900: #323232;
$neutral-color-1000: #211c26;
$neutral-color-black: #000000;
// Primary Colors
$primary-color-100: #FFFBE5;
$primary-color-200: #FFF8CC;
$primary-color-300: #FFEB66;
$primary-color-400: #FFDD00;
$primary-color-500: #FFD100;
$primary-color-600: #FFC500;
// Secondary Colors
$secondary-color-100: #fff4e6;
$secondary-color-200: #EDFAFF;
$secondary-color-300: #ff8629;
$secondary-color-400: #FAB62A;
$secondary-color-500: #d94f00;
$secondary-color-600: #8c2a00;
//alternative primary color
$alternative-primary-color-100: #E7E9EE;
$alternative-primary-color-200: #CFD4DE;
$alternative-primary-color-300: #6F7D9D;
$alternative-primary-color-400: #0F265C;
$alternative-primary-color-500: #091944;
$alternative-primary-color-600: #030C2D;
//alternative secondary color
$alternative-secondary-color-100: #FFF3C5;
$alternative-secondary-color-200: #FFE684;
$alternative-secondary-color-300: #F8D64E;
$alternative-secondary-color-400: #FFCC00;
$alternative-secondary-color-500: #FFBB0B;
$alternative-secondary-color-600: #FFA903;
// Alert Colors
$alert-color-100: #fff7e6;
$alert-color-200: #ffc069;
$alert-color-300: #ffa940;
$alert-color-400: #fa8c16;
$alert-color-500: #d46b08;
$alert-color-600: #ad4e00;
// Error Colors
$error-color-100: #fff1f0;
$error-color-200: #ffccc7;
$error-color-300: #ffa39e;
$error-color-400: #f5222d;
$error-color-500: #cf1322;
$error-color-600: #a8071a;
// Success Colors
$success-color-100: #f6ffed;
$success-color-200: #b7eb8f;
$success-color-300: #73d13d;
$success-color-400: #52c41a;
$success-color-500: #135200;
$success-color-600: #092b00;
$footer-background-color: #F4F4F4;
// Component EVATypography
@font-face {
    font-family: "Poppins-Regular";
    src: local("Poppins");
    src: url(../assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: local("Poppins");
    src: url(../assets/fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Poppins-Bold";
    src: local("Poppins");
    src: url(../assets/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Rubik-Regular";
    src: local("Rubik");
    src: url(../assets/fonts/Rubik/Rubik-Regular.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Rubik-Medium";
    src: local("Rubik");
    src: url(../assets/fonts/Rubik/Rubik-Medium.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Rubik-Semibold";
    src: local("Rubik");
    src: url(../assets/fonts/Rubik/Rubik-SemiBold.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Rubik-Bold";
    src: local("Rubik");
    src: url(../assets/fonts/Rubik/Rubik-Bold.ttf) format("truetype");
    font-weight: normal;
}

//Font families
// h1 h2 h3 h4 h5 h6
$font-headings: Poppins-Semibold,
Arial,
Helvetica,
sans-serif;
// subtitles (subtitles 1 and subtitles 2 in all their variants)
$font-sub-headings: Poppins-Regular,
Arial,
Helvetica,
sans-serif;
$font-sub-headings-semibold: Poppins-SemiBold,
Arial,
Helvetica,
sans-serif;
$font-sub-headings-bold: Poppins-Bold,
Arial,
Helvetica,
sans-serif;
// body (body 1 and body 2 in all their variants)
$font-body: Rubik-Regular,
Arial,
Helvetica,
sans-serif;
$font-body-medium: Rubik-Medium,
Arial,
Helvetica,
sans-serif;
$font-body-bold: Rubik-Bold,
Arial,
Helvetica,
sans-serif;
// helpers (Corresponds to Caption 1 and Caption 2 in
// all their variants of Desing System)
$font-helpers: Rubik-Regular,
Arial,
Helvetica,
sans-serif;
$font-helpers-medium: Rubik-Medium,
Arial,
Helvetica,
sans-serif;
$font-helpers-bold: Rubik-Bold,
Arial,
Helvetica,
sans-serif;
//Font colors
// h1 h2 h3 h4 h5 h6
$font-headings-h1-color: #211c26;
$font-headings-h2-color: #211c26;
$font-headings-h3-color: #211c26;
$font-headings-h4-color: #211c26;
$font-headings-h5-color: #211c26;
// subtiles (subtitles 1 and subtitles 2 in all their variants)
$font-sub-headings-1-color: #211c26;
$font-sub-headings-2-color: #211c26;
// body (body 1 and body 2 in all their variants)
$font-body-color-1: #323232;
$font-body-color-2: #323232;
// helpers (Corresponds to Caption 1 and Caption 2 in
// all their variants of Desing System)
$font-helpers-color-1: #211c26;
$font-helpers-color-2: #211c26;
$header-gradient-color-1: #733be626;
$header-gradient-color-2: #733be618;
$header-gradient-color-3: #3d90bf9c;
$background-degraded-1: linear-gradient( 180deg, rgba(61, 144, 191, 0.69) -6.21%, rgba(139, 193, 217, 0.26) 40.14%, rgba(139, 193, 217, 0.05) 92.75%);
$background-degraded-1-invert: linear-gradient( 0deg, rgba(61, 144, 191, 0.69) -6.21%, rgba(139, 193, 217, 0.26) 40.14%, rgba(139, 193, 217, 0.05) 92.75%);
$background-degraded-2: linear-gradient( 359deg, rgba(115, 59, 230, 0.15) -7.25%, rgba(115, 59, 230, 0.0945) 31.72%, rgba(115, 59, 230, 0) 92.75%);
// Export only variables that are needed on MUI components
:export {
    neutralColorWhite: $neutral-color-white;
    neutralColor200: $neutral-color-200;
    neutralColor300: $neutral-color-300;
    neutralColor500: $neutral-color-500;
    neutralColor700: $neutral-color-700;
    neutralColor1000: $neutral-color-1000;
    primaryColor100: $primary-color-100;
    primaryColor200: $primary-color-200;
    primaryColor300: $primary-color-300;
    primaryColor400: $primary-color-400;
    primaryColor500: $primary-color-500;
    errorColor400: $error-color-400;
    fontBody: $font-body;
    fontSubHeadingsSemibold: $font-sub-headings-semibold;
    fontSubHeadings: $font-sub-headings;
    fontHelpers: $font-helpers;
    fontHelpersMedium: $font-helpers-medium;
    headerGradientColor1: $header-gradient-color-1;
    headerGradientColor2: $header-gradient-color-2;
    headerGradientColor3: $header-gradient-color-3;
    alternativeSecondaryColor400: $alternative-secondary-color-400;
}