@import "../scss/_variables.module.scss";

.section-error-identification{
	&-container{
		&--image{
			text-align: center;
			img{
				width: 100%;
			}
		}
		&--title{
			text-align: center;
			max-width: 496px;
			margin: auto;
			padding-bottom: 32px;
		}
		&--body{
			text-align: center;
			padding-bottom: 64px;
		}
		&--acction{
			margin: auto;
			max-width: 312px;
		}
	}
}