@import "../scss/_variables.module.scss";

.container-button {
	margin: 32px 0;
}
.secure-payment {
	display: flex;
	justify-content: center;
	gap: 15px;
	color: $primary-color-200;
	margin-bottom: 70px;
	margin-top: 16px;
	width: 228px;
    margin-left: auto;
    margin-right: auto;
}
.margin-payment-gateway-card {
	margin-top: 32px;
}
