@import "../scss/_variables.module.scss";
.section-contrat-modality {
    &-container {
        &__text {
            &--body {
                margin-top: 16px;
            }
        }
        &__card {
            display: flex;
            justify-content: center;
            padding-bottom: 40px;
            >div {
                margin-left: 12px;
                margin-right: 12px;
            }
            >div:first-child {
                margin-left: 0px;
                margin-right: 12px;
            }
            >div:last-child {
                margin-left: 12px;
                margin-right: 0px;
            }
            &-item {
                min-height: 302px;
            }
        }
        &__notification {
            margin-bottom: 60px;
            div {
                margin: auto;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .section-contrat-modality {
        &-container {
            &__card {
                display: block;
                >div {
                    margin-left: 0px;
                    margin-right: 0px;
                    margin-top: 8px;
                    margin-bottom: 8px;
                }
                >div:first-child {
                    margin-left: 0px;
                    margin-right: 0px;
                    margin-top: 0px;
                    margin-bottom: 8px;
                }
                >div:last-child {
                    margin-left: 0px;
                    margin-right: 0px;
                    margin-top: 8px;
                    margin-bottom: 0px;
                }
                &-item {
                    min-height: initial;
                }
            }
        }
    }
}