@import "../scss/_variables.module.scss";

/* Especial Color for titles */

.text-highlight--color {
    color: $primary-color-400;
}

.text-end--color {
    color: $secondary-color-400;
}

.text-white--color {
    color: $neutral-color-white;
}

.text-disabled--color {
    color: $neutral-color-600;
}

.text--center {
    text-align: center;
}

.bg-color--white {
    background-color: $neutral-color-white;
}

.section-container {
    &--center {
        text-align: center;
        margin: auto;
        &__padding {
            padding-bottom: 48px;
        }
    }
    &--liner-progress {
        width: 448px;
    }
}

.section-container {
    &--after-header {
        padding-top: 64px;
        min-height: calc(100vh - 214px);
        &-container {
            &__text {
                &--body {
                    margin-top: 16px;
                }
            }
            &__notification {
                margin-bottom: 60px;
                div {
                    margin: auto;
                }
            }
        }
    }
}

.form-container {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    width: 100%;
    >form {
        width: 448px;
    }
    &--divider {
        margin-bottom: 24px;
    }
}

.formContainer {
    >form {
        width: 592px;
    }
}

.wFull {
    width: 100%;
}

.alert-wFull {
    >div {
        max-width: 100%;
        width: auto;
    }
}

.minHeightScreen {
    min-height: calc(100vh - 70px - 80px);
    &Header {
        min-height: calc(100vh - 80px);
    }
    &Footer {
        min-height: calc(100vh - 70px);
    }
}

@media (max-width: 800px) {
    .minHeightScreen {
        min-height: calc(100vh - 70px - 60px);
        &Header {
            min-height: calc(100vh - 60px);
        }
        &Footer {
            min-height: calc(100vh - 70px);
        }
    }
}

.background-degraded-1-invert {
    background: $background-degraded-1-invert;
    &__container {
        border-bottom: 2px solid $primary-color-400;
        position: relative;
    }
}

.container--notification__transparent {
    >div {
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
    }
}

.modal--fit-content {
    height: fit-content;
    &>div {
        overflow-y: hidden;
        height: fit-content;
    }
}

.line-divider {
    height: 1px;
    &-primary {
        background-color: $primary-color-300;
    }
    &-secondary {
        background-color: $primary-color-200;
    }
    &-margin-primary {
        margin: 0px 24px;
    }
    &-margin-secondary {
        margin: 16px 0px;
    }
}

@media screen and (max-width: 600px) {
    .section-container {
        &--liner-progress {
            width: 190px;
        }
    }
}

.button-primary {
    background-color: $primary-color-500 !important;
    color: black !important;
}

.button-secondary {
    background-color: $neutral-color-300 !important;
    color: black !important;
}

.text-button-color {
    color: $alternative-primary-color-600 !important;
}

.stepper-disencumbrance {
    color: black !important;
    background-color: black !important;
    font-family: $font-sub-headings-semibold !important;
    font-size: 10px !important;
    line-height: 12px !important;
    text-align: center !important;
}