<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead table-dark">
                <tr>
                    <th>
                        Variable
                    </th>
                    <th>
                        Pipe
                    </th>
                    <th>
                        Salida
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{nombre}}
                    </td>
                    <td>
                        uppercase
                    </td>
                    <td>
                        {{nombre | uppercase}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{nombre}}
                    </td>
                    <td>
                        lowercase
                    </td>
                    <td>
                        {{nombre | lowercase}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{nombre}}
                    </td>
                    <td>
                        slice:4
                    </td>
                    <td>
                        {{nombre | slice:4}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{nombre}}
                    </td>
                    <td>
                        slice:2:6
                    </td>
                    <td>
                        {{nombre | slice:2:6}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{nombre1}}
                    </td>
                    <td>
                        capitalizado
                    </td>
                    <td>
                        {{nombre1 | capitalizado:true}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{numeros}}
                    </td>
                    <td>
                        slice:3:8
                    </td>
                    <td>
                        {{numeros | slice:3:8}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{PI}}
                    </td>
                    <td>
                        number:'1.0-0' (1 entero, 0 decimales)
                    </td>
                    <td>
                        {{PI | number:'1.0-0'}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{PI}}
                    </td>
                    <td>
                        number:'3.0-0' (3 entero, 4 decimales)
                    </td>
                    <td>
                        {{PI | number:'3.0-4'}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{PI}}
                    </td>
                    <td>
                        number:'.0-6' (entero, 6 decimales)
                    </td>
                    <td>
                        {{PI | number:'.0-6'}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{porcentaje}}
                    </td>
                    <td>
                        percent
                    </td>
                    <td>
                        {{porcentaje | percent}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{porcentaje}}
                    </td>
                    <td>
                        percent:'2.2-2'
                    </td>
                    <td>
                        {{porcentaje | percent:'2.2-2'}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{salario}}
                    </td>
                    <td>
                        currency
                    </td>
                    <td>
                        {{salario | currency}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{salario}}
                    </td>
                    <td>
                        currency:'EUR'
                    </td>
                    <td>
                        {{salario | currency:'EUR'}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{salario}}
                    </td>
                    <td>
                        currency:'EUR':'symbol-narrow'
                    </td>
                    <td>
                        {{salario | currency:'EUR':'symbol-narrow'}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{salario}}
                    </td>
                    <td>
                        currency:'CAD':'symbol':'.0-0'
                    </td>
                    <td>
                        {{salario | currency:'CAD':'symbol':'.0-0'}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{salario}}
                    </td>
                    <td>
                        currency:'CAD':'symbol-narrow':'.0-0'
                    </td>
                    <td>
                        {{salario | currency:'CAD':'symbol-narrow':'.0-0'}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{heroe}}
                    </td>
                    <td>
                        json
                    </td>
                    <td>
                        <pre>
                        {{heroe | json}}
                      </pre>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{valorPromesa}}
                    </td>
                    <td>
                        json
                    </td>
                    <td>
                        {{valorPromesa | json}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{valorPromesa}}
                    </td>
                    <td>
                        async
                    </td>
                    <td>
                        {{valorPromesa | async}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{fecha}}
                    </td>
                    <td>
                        date
                    </td>
                    <td>
                        {{fecha | date}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{fecha}}
                    </td>
                    <td>
                        date:'fullDate'
                    </td>
                    <td>
                        {{fecha | date:'fullDate'}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{fecha}}
                    </td>
                    <td>
                        date:'fullDate':"fr"
                    </td>
                    <td>
                        {{fecha | date:'fullDate':'':'fr'}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{fecha}}
                    </td>
                    <td>
                        date:'fullDate':'{{idioma}}'
                        <br>
                        <button (click)='CambiarIdioma("es")' class="mx-1 p-1 btn btn-primary">Español</button>
                        <button (click)='idioma="en"' class="mx-1 p-1 btn btn-secondary">Inglés</button>
                        <button (click)='CambiarIdioma("fr")' class="mx-1 p-1 btn btn-success">Francés</button>
                    </td>
                    <td>
                        {{fecha | date:'fullDate':'':idioma}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{fecha}}
                    </td>
                    <td>
                        date:'dd - MM - yyyy'
                    </td>
                    <td>
                        {{fecha | date:'dd - MM - yyyy'}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{nombre}}
                    </td>
                    <td>
                        password
                    </td>
                    <td>
                        {{nombre | password:activar}}
                        <br>
                        <button (click)='activarDesactivarPassword()' class="mx-1 p-1 btn btn-outline-primary">{{activarEtiqueta}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <h4>Slice</h4>
        <ul>
            <li *ngFor="let numero of numeros | slice:7:100">
                {{numero}}
            </li>
        </ul>
        <h3>JSON</h3>
        <hr>
        <div class="row mb-5">
            <div class="col">
                <pre>
                {{heroe | json}}
              </pre>
            </div>
        </div>
        <h3>DOM Seguro</h3>
        <hr>
        <div class="row mb-5">
            <div class="col">
                <iframe width="560" height="315" [src]="video | domseguro" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>