/* You can add global styles to this file, and also import other style files */

html,
body {
    background-color: #1C1C1C;
    color: white;
}

hr {
    background-color: gray
}

.router-link-active {
    font-weight: bolder;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
