<div class="row">
    <div class="col">
        <h1>*ngIf</h1>
        <hr>
        <div *ngIf="show" class="card text-dark bg-warning mb-3" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">{{phrase.author}}</h5>
                <p class="card-text">{{phrase.message}}</p>
            </div>
        </div>
        <button (click)="show = !show" class="btn btn-outline-primary w-100">
            Mostrar/Ocultar
        </button>
    </div>

    <div class="col">
        <h1>*ngFor</h1>
        <hr>
        <ul class="list-group">
            <li *ngFor="let character of characters; let i = index" class="list-group-item text-center">{{i + 1}}. {{character}}</li>
        </ul>
    </div>
</div>