@import "../../scss/_variables.module.scss";

.arrow-back-block{
	button{
	margin-bottom: -50px;
    margin-top: -10px;
	}
}

@media screen and (max-width: 600px) {

	.arrow-back-block{
		button{
			display: none;
		}
	}
}