@import "../../scss/_variables.module.scss";

.otp__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.otp__pincode-container {
    margin-top: 24px;
    padding-left: 14px;
}

.otp__error {
    width: 380px;
    margin-top: 8px;
    display: flex;
    align-items: flex-start;
    color: $error-color-400 !important;

    &-icon {
        font-size: 16px !important;
        margin-right: 10px;
        margin-top: 2px;
    }
}

.otp__btn-container {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
}

.otp__btn-divider {
    margin-right: 24px !important;
}

@media (max-width: 600px) {
    // added
    .otp__btn-container {
        width: 290px;
        display: flex;
        flex-direction: column-reverse;
    }

    .otp__btn-divider {
        margin-top: 24px !important;
        margin-right: 0px !important;
    }

    .otp__pincode-container{
        padding-left: 8px;
    }
    .otp__error {
        width: 278px;
    }
}

.otp__resend-container {
    display: flex;
}

.otp__resend {
    margin-left: 4px !important;
    padding: 0px !important;
    width: auto !important;
    min-width: auto !important;
    height: auto !important;
}
