<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" [routerLink]="['new']" routerLinkActive="active">Nuevo</button>
            <button type="button" class="btn btn-secondary" [routerLink]="['edit']" routerLinkActive="active">Editar</button>
            <button type="button" class="btn btn-secondary" [routerLink]="['detail']" routerLinkActive="active">Detalle</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>