@import "../../scss/_variables.module.scss";

.coverage-container{
	border: 1px solid;
	box-shadow: 0px 0px 30px rgba(7, 7, 7, 0.05);
	border-radius: 10px;
	padding: 40px 32px 40px 32px;
	min-height: 515px;
	&--accepted{
		border-color: $success-color-400;
	}
	&--rejected{
		border-color: $error-color-400;
	}

	&__title{
		padding-bottom: 24px;
	}
	&__list{
		&--item{
			li{
				padding-left: 0px;
				padding-right: 0px;
			}
		}
	}
	&__notification div{
		width: auto;
		max-width: 100%;
	}

}



div.coverage-container__list-avatar{
	height: 48px;
	width: 48px;
	margin-right: 24px;
	&--accepted{
		background-color: $success-color-100;
	}
	&--rejected{
		background-color: $error-color-100;
		color: $error-color-400;
	}
}


@media screen and (max-width: 600px) {

	.coverage-container{
		&__title{
			padding-bottom: 8px;
		}
	}

}
