@import "../../scss/_variables.module.scss";

.alert {
    width: 418px;
    max-width: 418px;
    outline: 1px solid;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    align-items: flex-start;

    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__closeIcon {
        font-size: 14px !important;
        color: $font-helpers-color-1;
    }

    // variant
    &--info {
        background-color: $primary-color-100;
        outline-color: $primary-color-400;
    }
    &--success {
        background-color: $success-color-100;
        outline-color: $success-color-400;
    }
    &--warning {
        background-color: $alert-color-100;
        outline-color: $alert-color-400;
    }
    &--error {
        background-color: $error-color-100;
        outline-color: $error-color-400;
    }

    // height
    &--simple {
        align-items: center;
        height: 22px;
    }
}

.alert__closeIconBtn {
    margin-left: 8px !important;
    width: 14px;
    height: 14px;
    padding: 0 !important;
}

.alert__icon {
    margin-right: 16px;
    font-size: 24px !important;

    &--info {
        color: $primary-color-400;
    }
    &--success {
        color: $success-color-400;
    }
    &--warning {
        color: $alert-color-400;
    }
    &--error {
        color: $error-color-400;
    }

}

div.alert__icon--img{
    margin-right: 16px;
    background-color: $primary-color-100;
}

.alert__btns-container {
    margin-top: 7px;
}

.alert__btns {
    width: 128px !important;
    min-width: 128px !important;

    &--border-info {
        border-color: $primary-color-400 !important;
        & > span > div {
            color: $primary-color-400 !important;
        }
    }
    &--background-info {
        background-color: $primary-color-400 !important;
    }
    &--border-success {
        border-color: $success-color-400 !important;
        & > span > div {
            color: $success-color-400 !important;
        }
    }
    &--background-success {
        background-color: $success-color-400 !important;
    }
    &--border-warning {
        border-color: $alert-color-400 !important;
        & > span > div {
            color: $alert-color-400 !important;
        }
    }
    &--background-warning {
        background-color: $alert-color-400 !important;
    }
    &--border-error {
        border-color: $error-color-400 !important;
        & > span > div {
            color: $error-color-400 !important;
        }
    }
    &--background-error {
        background-color: $error-color-400 !important;
    }
}

.alert__divider {
    height: 1px;
}

//mobile

@media screen and (max-width: 600px) {
    .alert {
        width: 256px;

        &--simple {
            height: 16px;
        }
    }

    .alert__btns {
        width: 92px !important;
        min-width: 92px !important;
    }

    .alert__btns-container {
        margin-top: 8px;
    }

    .custom-font-size {
        font-size: 14px;
        line-height: 19px;
    }

    .alert__divider {
        height: 0px;
    }
}
