@import "../../scss/_variables.module.scss";

.tab-eva--panel{
	div {
		div button{
			margin-left: 16px;
			margin-right: 16px;
			opacity: 1;
			text-transform: none;
		}
	}
}

.tab-eva-panel--container{
	font-family: $font-body;
}

button.tab-eva--button__normal{
	max-width: 212px;
	height: 48px;
	color: $font-body-color-1;
	border-radius: 8px;
	font-size: 14px;
    line-height: 22px;
	padding-left: 16px;
	padding-right: 16px;
}

span.tab-eva--indicator__normal{
	background: transparent;
}

button.tab-eva--button__icon{
	max-width: 330px;
	height: 125px;
	padding: 16px;
	border-radius: 8px;
	border: 0px;
	background: transparent;
	font-size: 18px;
	line-height: 26px;

	svg{
		height: 30px;
		width: 30px;
	}
}

span.tab-eva--indicator__icon{
	background-color: $primary-color-500;
	height: 4px;
	max-width: 330px;
}


@media screen and (max-width: 600px) {

	button.tab-eva--button__normal{
		max-width: 134px;
		height: 48px;
		font-size: 12px;
		line-height: 16px;
		padding-left: 8px;
		padding-right: 8px;
	}

	button.tab-eva--button__icon{
		max-width: 72px;
		height: 90px;
		padding: 8px 4px 16px 4px;
		font-size: 10px;
		line-height: 13px;
		svg{
			height: 24px;
			width: 24px;
		}
	}

	.tab-eva--panel{
		div {
			div button.tab-eva--button__icon{
				margin-left: 34px;
				margin-right: 34px;
			}
		}
	}

}