@import "../../scss/_variables.module.scss";

.accordion {
    &--purchase{
        width: 448px;
        max-width: 448px;
    }
}

.accordion__summary {
    &--faq {
        padding-top: 24px !important;
        padding-right: 24px !important;
        padding-left: 24px !important;
        // sm 24px 8px 24px 8px
    }
    &--purchase {
        padding-top: 24px !important;
        padding-right: 8px !important;
        padding-left: 8px !important;
    }
}

.accordion__details {
    &--faq {
        padding: 0px 64px 24px 24px !important; // sm 0px 8px 24px 8px
    }
    &--purchase {
        padding: 0px 0px 24px 0px !important;
        flex-direction: column !important;
    }
}

.accordion__icon {
    font-size: 32px !important;
    color: $primary-color-400 !important;
}

@media screen and (max-width: 600px) {
    .accordion__summary {
        &--faq {
            padding-top: 24px !important;
            padding-right: 8px !important;
            padding-left: 8px !important;
        }
    }

    .accordion__details {
        &--faq {
            padding: 0px 8px 24px 8px !important; // sm 0px 8px 24px 8px
        }
    }
}
