@import "../../scss/_variables.module.scss";
.footer-eva {
    background: $footer-background-color;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer-eva-container {
    max-width: 1440px !important;
    padding-left: 142px !important;
    padding-right: 142px !important;
}

.footer-eva-container-grid__item br {
    display: none;
}

.footer-arroba-style {
    color: $primary-color-400;
}

.footer-name-style {
    color: $primary-color-400;
}

.footer-eva-container-grid-item__paragraph_credits {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .footer-eva {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .footer-eva-container-grid-item__paragraph {
        text-align: center;
    }
    .footer-eva-container-grid-item__paragraph_credits {
        margin-top: 10px;
    }
    .footer-eva-container-grid__item br {
        display: block;
    }
    .footer-eva-container {
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-left: 48px !important;
        padding-right: 48px !important;
        max-width: 100% !important;
    }
}