/* Custom style color*/
@import "../../scss/_variables.module.scss";

.spinner-primary-color,
.spinner-success-color {
    position: relative !important;
}

.spinner-primary-color > .MuiCircularProgress-indeterminate {
  /*Spinner Main Bright Color   */
    color: $primary-color-400 !important;
}

.spinner-primary-color > .MuiCircularProgress-determinate {
  /*Spinner secondray Gradient Color  */
    color: $primary-color-100 !important;
}

/* Spinner Success Colors */

.spinner-success-color > .MuiCircularProgress-indeterminate {
  /*Spinner Main Success Bright Color */
    color: $success-color-400 !important;
}

.spinner-success-color > .MuiCircularProgress-determinate {
  /*Spinner secondary Success Color */
    color: $success-color-100 !important;
}
